# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\oferl\OneDrive\מסמכים\טכניון\שנה ג\סמסטר א\מערכות מידע מבוזרות\תרגיל תכנותי\ex (1)\student files\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
